<a href="https://colab.research.google.com/github/Tankasala25/pandas/blob/main/CleaningData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [28]:
data = {
    'Name': [' Alice ', 'bob', 'Charlie ', 'Bob', 'Eve', None],
    'Age': [25, np.nan, 35, 25, None, 29],
    'Gender': ['F', 'm', 'Male', 'M', 'Female', 'f'],
    'Salary': ['50000', '55000', 'sixty thousand', '55000', '60000', '58000'],
    'JoinDate': ['2020-01-15', '2021/02/10', '03-12-2020', None, '2020-07-25', '2020-07-25'],
    'Department': ['HR', 'hr', 'Finance', 'FINANCE', 'IT', 'It']
}

df = pd.DataFrame(data)
df

       Name   Age  Gender          Salary    JoinDate Department
0    Alice   25.0       F           50000  2020-01-15         HR
1       bob   NaN       m           55000  2021/02/10         hr
2  Charlie   35.0    Male  sixty thousand  03-12-2020    Finance
3       Bob  25.0       M           55000        None    FINANCE
4       Eve   NaN  Female           60000  2020-07-25         IT
5      None  29.0       f           58000  2020-07-25         It

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         4 non-null      float64
 2   Gender      6 non-null      object
 3   Salary      6 non-null      object
 4   JoinDate    5 non-null      object
 5   Department  6 non-null      object
dtypes: float64(1), object(5)
memory usage: 420.0+ bytes

In [30]:
df.describe(include='all')

           Name        Age Gender Salary    JoinDate Department
count         5   4.000000      6      6           5          6
unique        5        NaN      6      5           4          6
top      Alice         NaN      F  55000  2020-07-25         HR
freq          1        NaN      1      2           2          1
mean        NaN  28.500000    NaN    NaN         NaN        NaN
std         NaN   4.725816    NaN    NaN         NaN        NaN
min         NaN  25.000000    NaN    NaN         NaN        NaN
25%         NaN  25.000000    NaN    NaN         NaN        NaN
50%         NaN  27.000000    NaN    NaN         NaN        NaN
75%         NaN  30.500000    NaN    NaN         NaN        NaN
max         NaN  35.000000    NaN    NaN         NaN        NaN

In [31]:
df.isnull().sum()

Name          1
Age           2
Gender        0
Salary        0
JoinDate      1
Department    0
dtype: int64

###Step 3 – Clean the data

In [32]:
#Strip whitespace and fix text case

In [33]:
df['Name'] = df['Name'].str.strip().str.title()

In [34]:
df['Name']

0      Alice
1        Bob
2    Charlie
3        Bob
4        Eve
5       None
Name: Name, dtype: object

In [35]:
df['Department']=df['Department'].str.upper()

In [36]:
df['Department']

0         HR
1         HR
2    FINANCE
3    FINANCE
4         IT
5         IT
Name: Department, dtype: object

In [37]:
df['Gender'] = df['Gender'].str.lower().replace({'m':'male','f':'female'})

In [38]:
df['Gender']

0    female
1      male
2      male
3      male
4    female
5    female
Name: Gender, dtype: object

In [39]:
#Fix data types and remove invalid entries

In [40]:
df['Salary']

0             50000
1             55000
2    sixty thousand
3             55000
4             60000
5             58000
Name: Salary, dtype: object

In [41]:
df['Salary']=df['Salary'].str.replace('sixty thousand','60000')

In [43]:
df['Salary']=df['Salary'].astype(float)

In [44]:
df['Salary'].dtype

dtype('float64')

In [45]:
df['Salary']

0    50000.0
1    55000.0
2    60000.0
3    55000.0
4    60000.0
5    58000.0
Name: Salary, dtype: float64

In [46]:
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

In [47]:
df['Salary']

0    50000.0
1    55000.0
2    60000.0
3    55000.0
4    60000.0
5    58000.0
Name: Salary, dtype: float64

In [48]:
df['JoinDate'] = pd.to_datetime(df['JoinDate'], errors='coerce')

In [49]:
df['JoinDate']

0   2020-01-15
1          NaT
2          NaT
3          NaT
4   2020-07-25
5   2020-07-25
Name: JoinDate, dtype: datetime64[ns]

In [50]:
df

      Name   Age  Gender   Salary   JoinDate Department
0    Alice  25.0  female  50000.0 2020-01-15         HR
1      Bob   NaN    male  55000.0        NaT         HR
2  Charlie  35.0    male  60000.0        NaT    FINANCE
3      Bob  25.0    male  55000.0        NaT    FINANCE
4      Eve   NaN  female  60000.0 2020-07-25         IT
5     None  29.0  female  58000.0 2020-07-25         IT

In [51]:
df.drop_duplicates(inplace=True)

In [52]:
df

      Name   Age  Gender   Salary   JoinDate Department
0    Alice  25.0  female  50000.0 2020-01-15         HR
1      Bob   NaN    male  55000.0        NaT         HR
2  Charlie  35.0    male  60000.0        NaT    FINANCE
3      Bob  25.0    male  55000.0        NaT    FINANCE
4      Eve   NaN  female  60000.0 2020-07-25         IT
5     None  29.0  female  58000.0 2020-07-25         IT

In [53]:
df.dropna()

    Name   Age  Gender   Salary   JoinDate Department
0  Alice  25.0  female  50000.0 2020-01-15         HR

In [61]:
df

      Name   Age  Gender   Salary   JoinDate Department
0    Alice  25.0  female  50000.0 2020-01-15         HR
1      Bob   NaN    male  55000.0        NaT         HR
2  Charlie  35.0    male  60000.0        NaT    FINANCE
3      Bob  25.0    male  55000.0        NaT    FINANCE
4      Eve   NaN  female  60000.0 2020-07-25         IT
5     None  29.0  female  58000.0 2020-07-25         IT

In [62]:
df.dropna(axis='index',how='all',subset=['Age'])

      Name   Age  Gender   Salary   JoinDate Department
0    Alice  25.0  female  50000.0 2020-01-15         HR
2  Charlie  35.0    male  60000.0        NaT    FINANCE
3      Bob  25.0    male  55000.0        NaT    FINANCE
5     None  29.0  female  58000.0 2020-07-25         IT